.theme__toggle-wrap .theme__icon {
  display: block;
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  top: 0.75em;
  left: 0.75em;
  /* background-color: green; */
}

.theme__icon-part {
  position: absolute;
  /* 这里的50%是相对于父级元素计算的 */
  top: calc(50% - 0.5em);
  left: calc(50% - 0.5em);
  /* top: 50%;
  left: 50%; */
  /* 这里的25%则是相对于自己计算的 
   * 考虑到周围的小光线也是需要使用这儿的位置的，所以不用transform
   */
  /* transform: translate(25%, 25%); */
  /* margin百分比值不可行，因为margin的百分比值是相对于父级元素的宽度计算的 */
  /* margin: 25%; */
  width: 1em;
  height: 1em;
  border-radius: 50%;

  /* 这个很神奇，用的是box-shadow实现的小太阳 */
  box-shadow: 0 0 0 0.5em #fff inset;
  transform: scale(.5);

}

.theme__icon-part ~ .theme__icon-part {
  top: 50%;
  left: calc(50% - 0.05em);

  height: .2em;
  width: .1em;
  border-radius: 50% / 25%;

  background: #fff;
  box-shadow: none;
  transform-origin: 50% 0;
  /* rotate和translateY的顺序很重要 */
  transform: rotate(0deg) translateY(0.5em) ;
  /* transform: rotate(50deg) translateY(0.5em); */

}

.theme__icon-part:nth-child(3) {
  transform: rotate(45deg) translateY(.5em);
}

.theme__icon-part:nth-child(4) {
  transform: rotate(90deg) translateY(.5em);
}

.theme__icon-part:nth-child(5) {
  transform: rotate(135deg) translateY(.5em);
}

.theme__icon-part:nth-child(6) {
  transform: rotate(180deg) translateY(.5em);
}

.theme__icon-part:nth-child(7) {
  transform: rotate(-135deg) translateY(.5em);
}

.theme__icon-part:nth-child(8) {
  transform: rotate(-45deg) translateY(.5em);
}

.theme__icon-part:nth-child(9) {
  transform: rotate(-90deg) translateY(.5em);
}