* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: 0;
  outline: 0;
}

:root {
  --field-color: rgba(255, 255, 255, .08);
  --field-height: 65px;
  --field-border-radius: 8px;

  /* slider range */
  --range-handle-color: rgb(255, 255, 255);
  --range-handle-color-hover: rgb(212, 212, 212);
  --range-handle-size: 18px;
  --range-track-color: rgba(255, 255, 255, .314);
  --range-track-height: 2px;
  --range-track-width: 60px;
}

body {
  /* a居然用的flex */
  display: flex;
  /* justify-content 主轴 */
  justify-content: center;
  align-items: center;

  height: 100vh;
  /* 最近经常遇到这个，用到了新属性to top，方向是从下到上
   * 作者写的是100% 和 200% 那不就没有用了吗
   */
  background: linear-gradient(to top, #209cff 10%, #68e0cf);

  color: #fff;
}

.container {
  width: 400px;
  height: 600px;
  margin: 40px 0;
  padding: 10px 25px;
  border-radius: 10px;
  background-color: #0a0e31;

  box-shadow: 0 0 5px rgba(0, 0, 0, .45),
              0 4px 8px rgba(0, 0, 0, .35),
              0 8px 12px rgba(0, 0, 0, .15);
}

.container h2.title {
  /* rem root element? */
  font-size: 1.75rem;
  /* 为了让title往左边靠一些 */
  margin: 10px -5px 30px -5px;
  color: #fff;
}

.field-title {
  position: absolute;
  top: -10px;
  left: 8px;
  /* 感觉可以直接写top: -20px */
  transform: translateY(-50%);

  font-weight: 800;
  color: rgba(255, 255, 255, .5);
  text-transform: uppercase;
  font-size: 0.65rem;
  /* pointer-events 指定在什么情况下 (如果有) 某个特定的图形元素可以成为鼠标事件的 target */
  /* none 表示鼠标事件“穿透”该元素并且指定该元素“下面”的任何东西。*/
  /* 光标样式和父级元素样式有关 */
  /* 现有的理解：这样的话那几个title就不能被选中，hove的时候指针也不会有变化 */
  pointer-events: none;
  /* user-select: none; 元素文本和子元素文本不可被选中 */
  /* user-select: none; */
}