/* result */
.result {
  position: relative;
  width: 100%;
  height: 65px;
  overflow: hidden;
  /* background-color: rgb(255, 209, 209); */
}

.result-info {
  position: absolute;
  bottom: 4px;
  font-size: .8rem;

  /* ease-in-out 先慢后快 */
  transition: all 150ms ease-in-out;
  transform: translateY(200%);
  opacity: 0;
}

.result-info.-right {
  right: 8px;
}
.result-info.-left {
  left: 8px;
}

.result-viewbox {
  width: 100%;
  height: 100%;
  background: var(--field-color);
  border-radius: 8px;
  /* 文字垂直水平居中 */
  /* 再复习一遍，text-align行内内容相对于父盒子水平居中 */
  text-align: center;
  line-height: 65px;
  text-transform: uppercase;
}

.result #copy-btn {
  position: absolute;
  /* 这个--y和--x是实时坐标吧，怎么生成的？居然在行内样式也能用 */
  /* 能够记忆上次消失的位置，从同一个位置出来 */
  /* 这里是在内联样式中定义的CSS变量，仅本元素内部可见 */
  top: var(--y);
  left: var(--x);
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: all 350ms cubic-bezier(.175, .885, .32, 1.275);
  cursor: pointer;
  /* 这index又是在哪儿的？删掉也没事 */
  z-index: 2;
}

/* 点击copy按钮的时候用来覆盖result box */
.result #copy-btn:active {
  box-shadow: 0 0 255px var(--field-color);
}

.result:hover #copy-btn {
  opacity: 1;
  /* translate让图标移动到鼠标中心，不然鼠标的尖尖就是图标的左上角 */
  transform: translate(-50%, -50%) scale(1.35);
}