.settings {
  /* title needs this */
  position: relative;
  /* flex布局是不是也不需要？ */
  display: flex;
  flex-direction: column;
  /* widows 设置一个块级容器在新的分页，区域或者列的顶部需要结合在一起的最小行数*/
  /* widows: 100%; */
}

.settings .setting {
  display: flex;
  align-items: center;
  position: relative;

  height: calc(var(--field-height) - 10px);
  margin-bottom: 8px;
  padding: 10px 25px;
  border-radius: var(--field-border-radius);
  background: var(--field-color);
}

.settings .setting input {
  position: absolute;
  opacity: 0;
}

.settings .setting label {
  /* 不允许被选择 */
  user-select: none;
}

.settings .setting label::before,
.settings .setting label::after {
  content: "";
  position: absolute;
  right: 10px;
  /* 垂直居中 */
  top: 50%;
  transform: translateY(-50%);

  transition: all 150ms cubic-bezier(.24, 0, .5, 1);
  cursor: pointer;
}

.settings .setting label::before {
  height: 30px;
  width: 50px;
  border-radius: 30px;
  background: rgba(214, 214, 214, .434);
}

.settings .setting label::after {
  right: 32px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #fff;
}

.settings .setting input:checked + label::before {
  background: #5d68e2;
}
.settings .setting input:checked + label::after {
  right: 14px;
}

.settings .setting input:focus + label::before {
  /* 这里对于阴影尺寸的用法很有趣 */
  box-shadow: 0 0 0 2px rgba(255, 255, 255, .75);
}

.settings .setting input:disabled + label::before,
.settings .setting input:disabled + label::after {
  cursor: not-allowed;
}

.settings .setting input:disabled + label::before {
  background: #4f4f6a;
}

.settings .setting input:disabled + label::after {
  background: #909090;
}

.btn.generate {
  position: relative;

  width: 100%;
  height: 50px;
  margin: 10px 0;
  /* border: none; */
  border-radius: var(--field-border-radius);
  user-select: none;
  background-image: linear-gradient(135deg, #667eea, #764ba2);

  /* button的默认属性是不可以继承的，不会自动获取父元素的coloe，像input也是 */
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;

  cursor: pointer;
  transition: all 150ms ease;
}

.btn.generate:active {
  transform: translateY(-4%);
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.4);
}